body {
    font-size: 18px;
    line-height: 1.5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header, nav, main, footer { 
    margin: 1.25rem auto;
    max-width: 760px;
}

header {
    background-color:#BFD9D9;
    color:#6F7273;
    text-align:center;
    padding: 1px;
}

header img {
    float:right;
    width:200px;
    height:auto;
    margin:10px;   
}

footer {
    background-color:#BFD9D9;
    color:#6F7273;
    text-align: center;
    padding:1px;
}
