body {
    font-family: 'Poppins', sans-serif;
    font-size:13px;
}

header, footer {
    background-color:#262473;
    color:white;
    padding:0.6rem;
    text-align:center;
    font-family:'Lora', serif;
    font-weight:bold;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
}

h1 {
    font-size:3rem;
}

h2 {
    font-size:1.3rem;
    font-weight:bold;
    color:#F2CF05;
    text-align:left;
}

h3 {
    color:#262473;
    text-align:left;
}

.author-name {
    color:white;
    font-weight:bold;
    text-align:center;
}


nav {
    background-color:#6AAED9;
    text-align:center;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

nav ul li a{
    display:block;
    text-align:center;
    padding:.70rem;
    text-decoration:none;
    color:white;
    font-size:1.3rem;
}

nav a:hover{
    background-color:white;
    color:#034C8C
}


main{
    display:grid;
    grid-template-columns:1fr;
    text-align:center;
    height:auto;
    width:fit-content;
    margin:0 auto;
    padding:.9rem;
    object-fit:scale-down;
    font-size: size 1.4rem;
    line-height:.98rem;
    color:white;  

}

main section img{
    width:25%;
    height:auto;
    box-shadow: 0 0 6px gray;
    float:left;
}

main section {
    background-color:white;
}

a {
    text-decoration:none;
    color:white;
}

p {
    color:#262473;
    text-align:left;
    font-size:.9rem;
    line-height:1.3rem;
}


.color-scheme {
    float:left;
    width:90%;
    height:auto;
    box-shadow: 0 0 6px gray;
}