body {
    font-family: 'Poppins', sans-serif;
    font-size:13px;
}

header, footer {
    background-color:#262473;
    color:white;
    padding:0.6rem;
    text-align:center;
    font-family:'Lora', serif;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    text-align:left;
}

h1 {
    font-size:3rem;
}

h2 {
    font-size:1.3rem;
}

main{
    margin:0 auto;
    object-fit:scale-down;
    font-size: size 1.4rem;
    line-height:.98rem;
    color:#F2E205;
    background-color:white;
}

main section img{
    width:100%;
    height:auto;
    box-shadow: 0 0 6px gray;
}

main section {
    margin:0.9rem;
    padding:0 1rem;
}

a {
    text-decoration:none;
    color:white;
}

p {
    color:white;
}