body {
    font-family: 'Poppins', sans-serif;
    font-size:13px;
}

header, footer {
    background-color:#BFD9D9;
    color:black;
    padding:0.6rem;
    text-align:center;
    font-family:'Lora', serif;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
}


main{
    display:grid;
    grid-template-columns:1fr;
    text-align:center;
    height:auto;
    width:fit-content;
    margin:0 auto;
    object-fit:scale-down;
    font-size: size 1.4rem;
    line-height:.9rem;
    color:black;
}

main section img{
    width:100%;
    height:auto;
    margin:.6rem;
    padding: 0 .9rem;
    box-shadow: 0 0 6px gray;
}

font-family: 'Lora', serif;
