@media only screen and (min-width: 32.5em) {

    body {
        margin:0 auto;
    }

nav button {
    display:none;
}

nav ul.hide{
    display:flex;
	margin:0 auto;
	flex: 1 1 100%;
	justify-content:space-evenly;
}