@media (min-width:60em){

header img {
    width:25%;
    height:auto;
}
nav button {
    display:none;
}
nav ul{
    display:flex;
}
nav ul li {
    flex:1 1 100%;
}
nav ul.hide {
    display:flex;
    margin:0 auto;
    flex: 1 1 100%;
    justify-content:space-evenly;
}

h2 {
    padding:3rem;
}

.sgallery {
    display:flex;
    flex-direction:row;
    padding:1.2rem;
}
/*----Contact Page----*/
.contactinfo {
    display:flex;
    flex-direction:row;
    padding:1.1rem;
}
.contactmap iframe {
    width:80%;
}
.bgallery {
    display:flex;
    flex-direction:row;
    padding:1.2rem;
}
.gallery li:hover {
    box-shadow: 0 5px 50px #737373;
}

h2 .gallery {
    padding:1.2rem;
}

}