@media (min-width:60em){

header img {
    width:25%;
    height:auto;
}
nav button {
    display:none;
}
nav ul{
    display:flex;
}
nav ul li {
    flex:1 1 100%;
}
nav ul.hide {
    display:flex;
    margin:0 auto;
    flex: 1 1 100%;
    justify-content:space-evenly;
}

}