@media only screen and (min-width: 32.5em) {

header img {
    width:45%;
    height:auto;
}
/*------Home Page-----*/
b.cards img {
    display:flex;
    flex-direction:row;
    width:30%;
    padding:5rem;
}
/*------Thanks Page-----*/

/*----Contact Us Page----*/
.contactmap iframe {
    width:70%;
}
