@media only screen and (min-width: 32.5em) {

header img {
    width:45%;
    height:auto;
}

/*------Home Page-----*/
img.homeSpotlight {
    width:30%;
    padding:5rem;
}

.homeSpotlight {
    display:flex;
    flex-direction:row;
    flex:30%;
    justify-content:center;
    background-color:#2D5771;
    color:#FFFFFF;
}

}