
header, footer {
    background-color:#FFFFFF;
    padding:0.6rem;
    text-align:center;
    font-family:'Cormorant Garamond', serif;
    font-weight:bold;
}
header {
    display:flex;
    justify-content: center;
}
header img {
    width:60%;
    height:auto;
}
nav button {
    margin: .2rem 2%;
    padding: .45rem;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size:1.6rem;
    font-family:'Cormorant Garamond', serif;
    font-weight:bold;
}
nav {
    background-color: #2D5771;
    padding:3px;
}
nav ul {
    list-style-type: none;
    margin: .5rem;
    padding: 0;
    text-align:center;
    font-family:'Cormorant Garamond', serif;

}
nav ul li a {
    display: block;
    color: #FFFFFF;
    font-size:1.2rem;
    font-weight:bold;
    padding: 0.7rem 2%;
    text-decoration: none;
    border-top: 1px solid #FFFFFF;
}
nav ul li.activebutton a {
    background-color: #FFFFFF;
    color: #2D5771;
    font-weight:bold;
    font-size:1.2rem;
}
nav ul li a:hover {
    background-color: #FFFFFF;
    color:#2D5771;
    font-weight:bold;
}
nav ul.hide {
    display: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.responsive li {
    display: block;
}

h2 {
    text-align:center;
    font-family:'Cormorant Garamond', serif;
    font-weight:bold;
    font-size:1.6rem;
}
h3 {
    font-family:'Cormorant Garamond', serif;
    font-weight:bold;   
}
body {
    font-family:'Raleway', sans-serif;
    font-size:1.0rem;
    line-height:1.4rem;
    text-align:center;
}
.socialicons {
    padding:10px;
}
img.socialicons {
    width:10%;
    display: flex;
    justify-content:center;
    padding:6px;
}
/*------Home Page-------*/
.herodiv {
    position:relative;
}
.wsummary {
    position:absolute;
    background-color:#D2E7FA;
    padding:1em;
    width: max-content;
    box-shadow: 0 0 5px #011126;
    text-align:left;
    top:15px;
    left:16px;
}
.wsummary h3 {
    text-align:left;
    text-decoration:underline;
    margin:.2em;
    font-weight:bold;
    font-size:1.45rem;
    color:#2D5771;
}
.gridlayout {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.category {
    color:#2D5771;
    margin-right:.5rem;
    font-family:'Raleway', sans-serif;
    font-weight:bold;
}
.conditions {
    color:#2D5771;
    font-family:'Raleway', sans-serif;
    font-weight:bold;
}
#desc {
    text-transform:capitalize;
}
.homebtn { 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin:10px;
}  
.homebtn {background-color: #2D5771;
}
.homegallery {
    padding:2rem;
    background-color:#2D5771;
}
.homegallery h2 {
    color:#FFFFFF;
}
.homegallery ul {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:1rem;
    padding:0;
    justify-content:center;
}
.sgallery {
    position:relative;
    margin:0;
    overflow:hidden;
}
.sgallery img {
    width:50%;
    border:7px solid #FFFFFF;
}
ul.events {
    color:#2D5771;
    font-weight:bold;
    line-height:1.6rem;
}
div.forecast {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    text-align:center;
}
.dayweather img {
    display:block;
    margin:0 auto;
    padding:0.2em;
}
.day,dayweather {
    border:1px solid #2D5771;
    padding:0.3em;
    background-color: ;
}
.dayweather {
    background-color:#D2E7FA;
}  
h2.hcontactinfo {
    color:#FFFFFF;
}
.hcontactinfo {
    padding:.5rem;
    background-color:#2D5771;
    color:white;
    line-height:2rem;
}
.homemap iframe {
    padding:1.5rem;
    justify-content:center;
    width: 50%;
    height:auto;
    border:7px solid#FFFFFF;
}
/*------Join Page ---------*/
.joinpage {
    padding:2rem;
}
main.joinpage {
    text-align:left;
    max-width:75%; 
}
.memberform {
    background-color:#D2E7FA;
    padding:.70rem;
    display: flex;
    flex-direction:column;
}
label.top {
    color:#2D5771;
    display:block;
}
.top {
    padding:.75rem 0;
    font-weight:bold;
}
.jbutton {
    padding:.5rem;
    font-weight: bold;
}

/*-----Contact Us Page------*/
.contactform {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:1.5rem;
}
p.contactinfo {
    line-height:2rem;
}
.contactinfo {
    padding:.5rem;
}
.sbutton {
    padding:.5rem;
    font-weight:bold;
    background-color:#D2E7FA;
}
.contactmap iframe {
    padding:1.5rem;
    justify-content:center;
    width: 80%;
    height:auto;
    border: 7px solid #D2E7FA;
}
.gallery {
    padding:2rem;
}
.gallery ul {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:1rem;
    padding:0;
    justify-content: center;
}
.bgallery {
    position:relative;
    margin:0;
    overflow:hidden;
}
.bgallery img {
    width:50%;
    border: 7px solid #D2E7FA;
}
.bgallery li p {
   padding:5px;
}
.board p {
    font-weight:bold;
}


