
header, footer {
    background-color:#FFFFFF;
    padding:0.6rem;
    text-align:center;
    font-family:'Cormorant Garamond', serif;
    font-weight:bold;
}
header {
    display:flex;
    justify-content: center;
}
header img {
    width:60%;
    height:auto;
}
nav button {
    margin: .2rem 2%;
    padding: .45rem;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size:1.6rem;
    font-family:'Cormorant Garamond', serif;
    font-weight:bold;
}
nav {
    background-color: #2D5771;
    padding:3px;
}
nav ul {
    list-style-type: none;
    margin: .5rem;
    padding: 0;
    text-align:center;
    font-family:'Cormorant Garamond', serif;

}
nav ul li a {
    display: block;
    color: #FFFFFF;
    font-size:1.2rem;
    font-weight:bold;
    padding: 0.7rem 2%;
    text-decoration: none;
    border-top: 1px solid #FFFFFF;
}
nav ul li.activebutton a {
    background-color: #FFFFFF;
    color: #2D5771;
    font-weight:bold;
    font-size:1.2rem;
}
nav ul li a:hover {
    background-color: #FFFFFF;
    color:#2D5771;
    font-weight:bold;
}
nav ul.hide {
    display: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.responsive li {
    display: block;
}
body {
    font-family:'Raleway', sans-serif;
    font-size:1.0rem;
    line-height:1.4rem;
    text-align:center;
}
.socialicons {
    padding:10px;
}

img.socialicons {
    width:10%;
    display: flex;
    justify-content:center;
    padding:6px;
}

/*------Home Page-------*/
img.homeSpotlight {
    width:10%;
    padding:5rem;
}
.homeSpotlight {
    background-color:#2D5771;
    color:#FFFFFF;
    padding:5rem;
    display: flex;
    flex:100%;
    flex-direction:column;
    justify-content:center;
}


/*------Join Page ---------*/
.thankyou {
    padding:5rem;
}
main.joinpage {
    text-align:left;
    max-width:75%; 
}
.memberform {
    background-color:#2D5771;
    padding:.80rem;
}

label.top {
    color:#262473;
    display:block;
}

.top {
    padding:.75rem 0;
}

.stormrange {
    color:#262473;
    padding:.75rem 0;
}

.scale, .sbs {
    color:#262473;
    display:block;
    padding:.75rem 0;
}

form label.top input:required {
    border:2px solid #262473;
}
}

