
body {
    font-family:'Raleway', sans-serif;
}
header h1 {
    font-family:'Cormorant Garamond', serif;
    color:#667302;
}
header p {
    color:#93A603;
}
a {
    text-decoration:none;
}

header img {
    width:30%;
    height:auto;
}

.socialicons {
    width:10%;
}


#B6E7F2 light blue
#FFFFFF white
#593622 brown
