@media only screen and (min-width:37.5em){

    body {
        margin:0 auto;
    }

nav button {
    display:none;
}

    nav ul {
    display:flex;
}

nav ul li {
    flex: 1 1 100%;
}

.townnav li:first-child {
    display: none;
}
