body {
    font-family: 'Poppins', sans-serif;
    font-size:1.0rem;
}

header, footer {
    background-color:#262473;
    color:white;
    padding:0.6rem;
    text-align:center;
    font-family:'Lora', serif;
    font-weight:bold;
}

header {
    display:flex;
    justify-content: center;
}

header img{
    width:auto;
    height: 95px;
    margin-right:10px;
    margin-left:1em;
}

.tagline {
    display: block;
    font-size:.9rem;
}

footer {
max-width:1150px;
margin: 0 auto;
text-align: center;
}


h1, h2, h3 {
    font-family: 'Lora', serif;
}

h1 {
    font-size:3.3rem;
}

h2 {
    font-size:1.6rem;
    font-weight:bold;
    color:#F5863B;
    text-align:left;
    font-weight:bold;
}

h3 {
    color:#262473;
    text-align:left;
}


nav {
    max-width: 760px;
    margin:0 auto;
    background-color:#6AAED9;
    text-align:center;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li a{
    display:block;
    text-align:center;
    padding:.70rem;
    text-decoration:none;
    color:#262473;
    font-size:1.3rem;
}


nav button {
    display: none;
    margin: 0.2rem 2%;
    color:#F5863B;
}

main{
    width:fit-content;
    margin:0 auto;
    padding:.9rem;
    color:white;  
}

main section {
    background-color:white;
}

a {
    text-decoration:none;
    color:white;
}

p {
    color:#262473;
    text-align:left;
    font-size:1.1rem;
    line-height:1.3rem;
}

.contentbox {
    display:block;
    margin: 10px auto;
    border: 1px solid;
    padding:15px;
    background-color:#6AAED9 ;
    color:#262473;
    line-height:1.2em;
    box-sizing:border-box;
    font-size:1.3em;
}

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #034C8C;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
	color: white;
	background-color: #034C8C;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
