body {
    font-family: 'Poppins', sans-serif;
    font-size:1.0rem;
}

header, footer {
    background-color:#262473;
    color:white;
    padding:0.6rem;
    text-align:center;
    font-family:'Lora', serif;
    font-weight:bold;
}

header {
    display:flex;
    justify-content: center;
}

header img{
    max-width:130px;
    max-height: auto;
    margin-right:1.1em;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
}

h1 {
    font-size:3.3rem;
}

h2 {
    font-size:1.5rem;
    font-weight:bold;
    color:#F5863B;
    text-align:left;
    font-weight:bold;
}

h3 {
    color:#262473;
    text-align:left;
}


nav {
    max-width: 1200px;
    margin:0 auto;
    background-color:#6AAED9;
    text-align:center;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li a{
    display:block;
    text-align:center;
    padding:.70rem;
    text-decoration:none;
    color:#262473;
    font-size:1.3rem;
}

nav a:hover{
    background-color:white;
    color:#034C8C
}

nav button {
    display: none;
    margin: 0.2rem 2%;
    color:#F5863B;
}

main{
    width:fit-content;
    margin:0 auto;
    padding:.9rem;
    color:white;  
}

main section {
    background-color:white;
}

a {
    text-decoration:none;
    color:white;
}

p {
    color:#262473;
    text-align:left;
    font-size:1.1rem;
    line-height:1.3rem;
}

.maincontent {
 padding:1em;
 margin:1em;
 background-color:#6AAED9;
}
