@media only screen and (min-width: 32.5em) {

    body {
        margin:0 auto;
    }

nav button {
    display:none;
}

    nav ul {
    display:flex;
}

nav ul li {
    flex: 1 1 100%;
}

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}

